{erl_opts, [debug_info]}.
{deps, []}.

%% == Releases ==

{relx, [{release, {erlang_cluster_k8s, "0.0.1"},
         [ 
         kernel,
         stdlib, 
         sasl,
        erlang_cluster_k8s]},
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {extended_start_script, true},
        {vm_args_src, "config/vm.args.src"},
        {sys_config_src, "config/sys.config.src"}]}.
%% == Shell ==

%% apps to auto-boot with `rebar3 shell'; defaults to apps
%% specified in a `relx' tuple, if any.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlang_cluster_k8s]}
]}.

{dist_node, [
    {setcookie, 'erlang_cluster_k8s-cookie'},
    {sname, 'erlang_cluster_k8s'}
]}.

%% == Directories ==
{root_dir, "."}.